.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 600px;
  border: 1px solid black;
}
.addNewPackContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonNewPack {
  align-self: center;
  width: 175px !important;;
  height: 36px !important;;
  background: #366EFF !important;;
  box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3) !important;
  border-radius: 30px !important;;
}
.searchContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.inputSearch{
  width: 413px;
}
.buttonGroup{
  width: 196px;
  height: 39px;
}

.sliderGroup{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;

}
.countSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;

}

.slider {
  width: 155px !important;
}
.iconFilter{
  align-self: self-end;
  margin-bottom: 2px;
}
